<h3>Caluclator-2</h3>
<hr>
<input type="number" (change)="model.n1 = $event.target.value">
<!-- <select (change)="selectedOperator = $event.target.value">
	<option value="add">Add</option>
	<option value="subtract">Subtract</option>
	<option value="multiply">Multiply</option>
	<option value="divide">Divide</option>
</select> -->
<select #selectedOperator>
	<option value="add">Add</option>
	<option value="subtract">Subtract</option>
	<option value="multiply">Multiply</option>
	<option value="divide">Divide</option>
</select>
<input type="number" (change)="model.n2 = $event.target.value">
<input type="button" value="Calculate" (click)="model[selectedOperator.value]()">
<app-calculator-result [data]="model.result"></app-calculator-result>